* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fira Code Nerd Font;
    min-height: 20px;
}

/* to be removed when this is fixed: https://github.com/Alexays/Waybar/issues/1764 */
button { border: none; }
label:disabled, button:disabled { color: inherit; }
button:hover { background: inherit; }

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces, #idle_inhibitor, #mode, #clock, #custom-pacman, #pulseaudio, #backlight, #battery, #tray, #custom-notification {
    color: @theme_text_color;
    background: @theme_bg_color;
    border-radius: 10px;
    font-size: 18px;
}

#workspaces, #idle_inhibitor, #mode {
    margin-top: 2px;
    margin-right: 8px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-right: 8px;
    padding-left: 8px;
}

#idle_inhibitor {
    padding-right: 16px;
}

#clock {
    margin-top: 2px;
    margin-right: 8px;
    margin-bottom: 2px;
    margin-left: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

#custom-pacman, #pulseaudio, #backlight, #battery, #tray, #custom-notification {
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-left: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

#workspaces button {
    transition: none;
    padding: 5px;
}

#workspaces button.persistent {
    font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}

#workspaces button.active {
    border-radius: inherit;
    background: @theme_selected_bg_color;
    color: @warning_color;
}

#pulseaudio.muted {
    color: @warning_color;
}

#battery.charging {
    background-color: @success_color;
}

#battery.warning:not(.charging) {
    background-color: @warning_color;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: @error_color;
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blink {
    to {
        background-color: @warning_color;
    }
}
